{% extends "system/dashboard/base.html" %}

{% block DASHBOARD_BODY %}
{% now "j/m/Y H:i:s" as NOW %}
	<div class ="row" id = "poll-holder">
		<div class="panel panel-primary">
			<div class = "panel-heading clearfix">
			{% block POLL_HEADING %}

			{% endblock %}
			</div>
			<div class="panel-body">
			{% if poll.hasHeader %}
				<div class = "row col-md-12 well well-sm">
					{{ poll.getHeader|default:''|safe|escape }}
				</div>
			{% endif %}
				<div class = "row col-md-12">
					{% block POLL_BODY %}

					{% endblock %}
				</div>
			</div>
			<div class="panel-footer clearfix">
				<p class = "col-md-12">
				{% if poll.isSaveEnabled %}
					<div class = "col-md-1 pull-right">
						<button class="btn btn-primary col-md-12" id = "poll-save" {{ poll.canBeSaved|yesno:',disabled="disabled"' }}>
							<i class="fa fa-floppy-o"></i>
							Guardar
						</button>
					</div>
				{% endif %}
				{% if poll.isCommitEnabled %}
					<div class = "col-md-1 pull-right">
						<button class="btn btn-primary col-md-12" id = "poll-commit" {{ poll.canBeCommitted|yesno:',disabled="disabled"' }}>
							<i class="fa fa-archive"></i>
							Enviar
						</button>
					</div>
				{% endif %}
				</p>
				<p class = "col-md-12">
					<div class = "col-md-3">
						<small>
							Fecha de Asignación:
							<strong>
								{{ poll.assigned_date|date:"j/m/Y H:i:s"|default:NOW }}
							</strong>
						</small>
					</div>
					<div class = "col-md-3">
						<small>
							Fecha de Inicio: 
							<strong>
								{{ poll.started_date|date:"j/m/Y H:i:s"|default:NOW }}
							</strong>
						</small>
					</div>
					<div class = "col-md-3">
						<small>
							Fecha de Ultima Modifiación: 
							<strong>
								{{ poll.updated_date|date:"j/m/Y H:i:s"|default:NOW }}
							</strong>
						</small>
					</div>
					<div class = "col-md-3">
						<small>
							Fecha de Envio: 
							<strong>
								{{ poll.commited_date|date:"j/m/Y H:i:s"|default:NOW }}
							</strong>
						</small>
					</div>
				</p>
			</div>
		</div>
	</div>

{% endblock %}