{% load system_tags %}
<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" id = "nav-menu">
	<ul class="nav navbar-nav side-nav">
{% dashboard_menu currentSection=CURRENT_SECTION as menu %}
{% for item in menu %}
	{% if item.has_items %}
		<li>
			<a href="" data-toggle="collapse" data-target="#{{item.section}}" data-status = 'closed'>
				<i class="fa fa-fw {{ item.icon }}"></i> {{ item.label }}
				<i class="fa fa-fw fa-caret-down"></i>
			</a>
			<ul id="{{item.section}}" class="collapse">
			{% for submenu_item in item.items %}
				<li class = "hide">
					<a href="{{ submenu_item.url|default:'#' }}">
						<i class="fa fa-fw {{ submenu_item.icon }}"></i>
						{{ submenu_item.label }}
					</a>
				</li>			
			{% endfor %}
			</ul>
		</li>
	{% else %}
		<li class="{{ item.active|yesno:'active' }}">
			<a href="{{ item.url|default:'#' }}">
				<i class="fa fa-fw {{ item.icon }}"></i>
				{{ item.label }}
			</a>
		</li>	
	{% endif %}
{% endfor %}
	</ul>
</div>