<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="R3R is an agency that has over 25 years of combined experience in Software Development, 
Marketing & SEO Strategy and UI / UX Design.">
    <meta name="og:description" content="R3R is a software agency that has over 25 years of combined experience in Software Development, 
Marketing & SEO Strategy and UI / UX Design.">
    <meta name="keywords" content="software development, technology marketing, app development, r3r agency, r3r, technology agency">
	<meta name="author"      content="R3R Agency">
	
	<title>R3R | Coming Soon.</title>

	<link rel="shortcut icon" href="/static/img/apps/underConstruction/r3r_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="/static/css/apps/underConstruction/r3r.css">
	<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Muli:300|Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

    <!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<div class="logo"><img src="/static/img/apps/underConstruction/R3R-logo.png"></div>				
                    <h1><span style="color:white;font-weight:700; font-size:5.0rem;">Thank you for visiting.</span><br>We are currently building our new website.</h1>
                        <div class="teaser">Please sign up below for our newsletter to stay updated on R3R news and the upcoming launch of our new website.</div>
                            <form action="#" 
			</div> <!-- /col -->
		</div> <!-- /row -->
		
		<div class = "row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" id="mc_embed_signup">
				<form action="//agency.us11.list-manage.com/subscribe/post?u=d8ce5b5c31382ec1ccc1867ea&amp;id=946c8b858b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"novalidate>
					<div class = "row col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center text-info">
						<label for="mce-EMAIL">
							Subscribe to our mailing list
						</label>					
					</div>
					<div class = "row form-group col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
						<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" style = "width : 100%;" required>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->						
						<div style="position: absolute; left: -5000px;">
							<input type="text" name="b_d8ce5b5c31382ec1ccc1867ea_946c8b858b" tabindex="-1" value="">
						</div>
					</div>
					<div class = "row form-group col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style = "width : 100%;">
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->						
					</div>
				</form>
			</div>
		</div>		
	</div>
</section>
</body>
</html>