{% extends "system/dashboard/simple-sidebar/base.html" %}
{% load system_tags %}
{% load polls_tags %}

{% block DASHBOARD_BODY %}
	<div class = "row" id = "user-control">
		<div class = "col-md-6 col-md-offset-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							No.
						</th>
						<th>
							Nombre
						</th>
						<th>
							No. de Cuestionarios
						</th>
						<th>
							Progreso
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody>
				{% for poll in polls %}
					<tr>
						<td>
							{{ forloop.counter }}
						</td>
						<td>
							<a href = "{{ poll.viewMemberURL }}">
								{{ poll.name }}
							</a>
						</td>
						<td>
							{{ user|pollCount:poll }}
						</td>
						<td>
							{{ user|pollProgress:poll }}
						</td>
						<td>
							{{ user|pollStatus:poll }}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block PAGE_JS %}
	{{ block.super }}
	<script src="/static/js/apps/system/dashboard/base.js"></script>
	<script src="/static/js/apps/system/users/base.js"></script>
{% endblock %}