{% extends "system/polls/templates/question-general.html" %}

{% block QUESTION_BODY_CONTROL %}
<div class = "row col-md-12">
	<p class = "row col-md-12 form-group" style = "margin-top : 10px;">
	    <label for="{{poll.question_3a_id}}">
			{{poll.question_3a_label}}
		</label>
		<textarea class="form-control" rows="2" style = "resize:none;" id = "{{poll.question_3a_id}}" name = "{{poll.question_3a_id}}" {{ poll.canBeSaved|yesno:',readonly' }}>{{poll.question_3a_value}}</textarea>
	</p>
	<p class = "row col-md-12 form-group" style = "margin-top : 10px;">
	    <label for="{{poll.question_3b_id}}">
			{{poll.question_3b_label}}
		</label>
		<textarea class="form-control" rows="2" style = "resize:none;" id = "{{poll.question_3b_id}}" name = "{{poll.question_3b_id}}" {{ poll.canBeSaved|yesno:',readonly' }}>{{poll.question_3b_value}}</textarea>
	</p>
	<p class = "row col-md-12 form-group" style = "margin-top : 10px;">
	    <label for="{{poll.question_3c_id}}">
			{{poll.question_3c_label}}
		</label>
		<textarea class="form-control" rows="2" style = "resize:none;" id = "{{poll.question_3c_id}}" name = "{{poll.question_3c_id}}" {{ poll.canBeSaved|yesno:',readonly' }}>{{poll.question_3c_value}}</textarea>
	</p>
</div>
{% endblock %}