<div class="panel-group" id="{{QUESTION_HOLDER_ID}}" role="tablist" aria-multiselectable="true">
	<div class = "row col-md-12">
		{% include "system/polls/templates/Fase-III/sesion-3/question-1.html" with question_holder=QUESTION_HOLDER_ID question_answered=poll.question_1_answered question_id="question-1" question_body_id="question-body-1" question_title=poll.question_1_title question_header=poll.question_1_header question_id=poll.question_1_id always_open_override=False question_has_header=poll.question_1_has_header question_value=poll.question_1_value question_list_limit=3 %}
	</div>
	<div class = "row col-md-12" style = "margin-top : 10px; margin-bottom : 10px;">
		{% include "system/polls/templates/Fase-III/sesion-3/question-2.html" with question_holder=QUESTION_HOLDER_ID question_answered=poll.question_2_answered question_id="question-2" question_body_id="question-body-2" question_title=poll.question_2_title question_header=poll.question_2_header question_id=poll.question_2_id always_open_override=False question_has_header=poll.question_2_has_header question_value=poll.question_2_value %}
	</div>
</div>