<div class="featurette" id="contact-us">
	<div class = "container">
		<div class = "row col-md-12 text-center">
			<h1>
				Contactanos
			</h1>
		</div>
		<div class = "row col-md-12">
			<form>
				<div class = "form-group col-md-12">
					<label for = "name">
						Nombre:
					</label>
					<input type = "text" class = "form-control" id = "name" placeholder = "Nombre">
				</div>
				<div class = "form-group col-md-6">
					<label for = "email">
						E-Mail:
					</label>
					<input type = "text" class = "form-control" id = "email" placeholder = "E-Mail">
				</div>
				<div class = "form-group col-md-6">
					<label for = "phone">
						Telefono:
					</label>
					<input type = "text" class = "form-control" id = "phone" placeholder = "Telefono">
				</div>
				<div class = "form-group col-md-12">
					<label for = "message">
						Mensaje:
					</label>
					<textarea class = "form-control" id = "message" placeholder = "Nombre" rows = "10" ></textarea>
				</div>
				<div class = "col-md-12">
					<button type="submit" class="btn btn-primary btn-lg col-md-3">
						Enviar
					</button>
				</div>
			</form>
		</div>
	</div>
</div>